<%- include("header.ejs") %>
<body>
  <%- include("navbar.ejs") %>
  <br />
  <div class="container">
    <h1>Contact Us</h1>

    <p>
      Contact: "phone number" <br />
      email: "email"
    </p>
  </div>
</body>

<%- include("footer.ejs") %>
