<%- include("header.ejs") %>
<body>
  <%- include("navbar.ejs") %>
  <br />
  <div class="container">
    <h1>Contact Me</h1>
    <p>
      If you have any questions, feedback, or just want to say hello, feel free
      to reach out! I’d love to hear from you.
    </p>

    <h2>Get in Touch</h2>
    <ul class="contact-list">
      <li><strong>Email:</strong> myemail@example.com</li>
      <li><strong>Phone:</strong> +251 9876-54321</li>
      <li><strong>Address:</strong> 123 AA</li>
    </ul>

    <h2>Follow Me</h2>
    <p>Stay connected through social media:</p>
    <ul class="social-links">
      <li>
        <a href="https://facebook.com/myblog" target="_blank">Facebook</a>
      </li>
      <li><a href="https://twitter.com/myblog" target="_blank">Twitter</a></li>
      <li>
        <a href="https://instagram.com/myblog" target="_blank">Instagram</a>
      </li>
    </ul>
  </div>
</body>

<%- include("footer.ejs") %>
